<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>ServletToback</servlet-name>
    <servlet-class>servlet.ServletToback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToback</servlet-name>
    <url-pattern>/ServletToback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoInsertServlet</servlet-name>
    <servlet-class>servlet.DoInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoInsertServlet</servlet-name>
    <url-pattern>/DoInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToBackListServlet</display-name>
    <servlet-name>ToBackListServlet</servlet-name>
    <servlet-class>servlet.ToBackListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToBackListServlet</servlet-name>
    <url-pattern>/ToBackListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToListServlet</display-name>
    <servlet-name>ToListServlet</servlet-name>
    <servlet-class>servlet.ToListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToListServlet</servlet-name>
    <url-pattern>/ToListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoListServlet</display-name>
    <servlet-name>DoListServlet</servlet-name>
    <servlet-class>servlet.DoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoListServlet</servlet-name>
    <url-pattern>/DoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteOneServlet</display-name>
    <servlet-name>DoDeleteOneServlet</servlet-name>
    <servlet-class>servlet.DoDeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteOneServlet</servlet-name>
    <url-pattern>/DoDeleteOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteItemsServlet</display-name>
    <servlet-name>DoDeleteItemsServlet</servlet-name>
    <servlet-class>servlet.DoDeleteItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteItemsServlet</servlet-name>
    <url-pattern>/DoDeleteItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSelectOneServlet</display-name>
    <servlet-name>DoSelectOneServlet</servlet-name>
    <servlet-class>servlet.DoSelectOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSelectOneServlet</servlet-name>
    <url-pattern>/DoSelectOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToFrontServlet</display-name>
    <servlet-name>ToFrontServlet</servlet-name>
    <servlet-class>servlet.ToFrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToFrontServlet</servlet-name>
    <url-pattern>/ToFrontServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Day_DoListServlet</display-name>
    <servlet-name>Day_DoListServlet</servlet-name>
    <servlet-class>servlet.Day_DoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Day_DoListServlet</servlet-name>
    <url-pattern>/Day_DoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoListAllServlet</display-name>
    <servlet-name>DoListAllServlet</servlet-name>
    <servlet-class>servlet.DoListAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoListAllServlet</servlet-name>
    <url-pattern>/DoListAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateServlet</display-name>
    <servlet-name>DoUpdateServlet</servlet-name>
    <servlet-class>servlet.DoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateServlet</servlet-name>
    <url-pattern>/DoUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>